* {
  box-sizing: border-box;
  color: white;
  font-family: 'Kaushan Script', cursive;
}

html {
  font-size: 10%;
}

body {
  background-color: #114800;
}

ul {
  display: block;
  text-align: right;
}

li {
  /*float: left;*/
  display: inline;
  font-size: 25px;
  padding: 10px;
}

li:hover {
  background-color: #7ca270;
  border-radius: 10px;
}

h1 {
  /*padding: 100px 0 25px 0;*/
  font-size: 50px;
}

h1, h2 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  font-size: 25px;
  margin: 10px 0 0 0;
}

.politician-container {
  width: 440px;
  height: 370px;
  background-color: #102809;
  border-radius: 10px;
  margin: 50px auto 0;
}

.politicianOne, .politicianTwo {
  width: 200px;
  height: 300px;
  background-color: #102809;
  border-radius: 10px;
  float: left;
  margin: 10px;
}

#politicianOne, #politicianTwo {
  width: 200px;
  height: 25px;
  background-color: #550000;
  border: none;
  margin: 10px;
  float: left;
  font-size: 15px;
}

img {
  width: 200px;
  height: auto;
}
.newspaper{
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  width: 1400px;
  height: 600px;
  text-align: center;
}
.articles{
  width: 200px;
  padding: 10px;
  margin: 0;
  float: left;
}
h3 {
  font-size: 25px;
  padding-bottom: 10px;

}
p {
  font-size: 15px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.gameContainer {
  width: 1000px;
  height: 500px;
  background-image: url("../images/westminster.jpg");
  background-size: cover;
  border: 6px solid darkgrey;
  border-style: inset;
  margin: 0 auto;
  padding: 0;
  float: left;
}
/*===========================================*/
/*Moving cat element on page*/
.catContainer{
  position: absolute;
  bottom: 0;
  height: 190px;
  width: 50px;
  /*background: hotpink;*/
  left: 50%;
  margin-left: -25px;
}

#cat {
  width: 50px;
  height:50px;
  position: absolute;
  /*left: 50%;*/
  /*bottom: 19%;*/
  margin: 0;
  border-radius: 50%;
  background-image: url('../images/cat.png');
  background-size: cover;
  vertical-align: top;
  }
/*================================================*/
/*Body styling*/
.body {
  height: 17rem;
  width: 10.3rem;
  /*background: lightgrey;*/
  margin: 5rem auto;
  /*position: relative;*/

}
#politician {
  /*position: absolute;*/
  width: 5rem;
  height:5rem;
  background: red;
  border-radius: 50%;
  margin: 0 auto;


  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;  
}

#politician img{
  max-width: 5rem;
  max-height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.torso {
  height: 6rem;
  width: 5rem;
  background: darkgrey;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
  z-index: 1000;
}
.tie {
  height: 3rem;
  width: 0.5rem;
  background: black;
  margin: 0 auto;
}
.arm {
  height: 6rem;
  width: 1rem;
  background: darkgrey;
  border-radius: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.2rem;
}
div div.arm:last-child{
  background: black;
}
.leg {
  height: 6rem;
  width: 1.5rem;
  background: darkgrey;
  border-radius: 1rem;
  display: inline-block;
  transform: rotate(25deg);
  position: absolute;
  left: 25%;
  top: 60%;
  z-index: 1;
}
div.leg:last-child{
  left: 60%;
  transform: rotate(-25deg)
}
/*=========================================================*/
/*Cannon Styling*/
.cannon {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 0;
}
.cannonOne{
  height: 20px;
  width: 60px;
  background: black;
  margin: 0 auto;
  border-radius: 5px;
}
.cannonTwo{
  height: 100px;
  width: 50px;
  background: darkgrey;
  margin: 0 auto;
}
.cannonThree{
  height: 30px;
  width: 100px;
  background: brown;
  margin: 0 auto;
  border-radius: 10px
}