* {
  box-sizing: border-box;
  color: black;
  font-family: 'Kaushan Script', cursive;
}
html {
  font-size: 10%;
}
body {
  background-image: url("../images/politicalCat.jpg");
  background-size: 250px;
  text-align: center;
}
h1 {
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 400px;
  font-family: 'Kaushan Script', cursive;
  opacity: 0.9;
  background: #FFEEC8;
  border-radius: 10px;
  padding: 5px 30px;
  font-size: 80px;
  box-shadow: 0 0 5px 5px #FFEEC8;
}
.start{
  display: block;
  margin: 100px auto;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  font-size: 50px;
  background: #550000;
  color: #AA3939;
}
ul {
  position: absolute;
  right: 1%;
  top: 1%;
  height: 50px;
  width: 210px;
  margin: 0px;
}
li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
  background: #FFEEC8;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #FFEEC8;
}
li:hover {
  background-color: #7ca270;
  border-radius: 10px;
}
.mainPageContainer {
  width: 440px;
  height: 370px;
  background-color: #102809;
  border-radius: 10px;
  margin: 50px auto 0;
  float: left;
}
.newspaper{
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  width: 1400px;
  height: 530px;
  text-align: center;
}
.articles{
  width: 200px;
  padding: 10px;
  margin: 10px 10px 5px;
  float: left;
  background: #FFEEC8;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #FFEEC8;
  position: relative;
  z-index: 1;
}
h2 {
  font-size: 25px;
  padding-bottom: 10px;
}
p {
  font-size: 15px;
  padding: 0;
  margin: 0;
  text-align: left;
}
.description, .disclaimer {
  font-size: 40px;
  color: black;
  text-align: center;
  background: #FFEEC8;
  margin: 0 20px;
  padding: 20px;
  box-shadow: 0 0 5px 5px #FFEEC8;
  opacity: 0.9;
}
.disclaimer {
  font-size: 20px;
  text-align: center;
}
.gameContainer {
  width: 960px;
  height: 530px;
  background-image: url("../images/westminster.jpg");
  background-size: cover;
  border: 6px solid darkgrey;
  border-style: inset;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0;
  float: left;
}
/*===========================================*/
/*Moving cat element on page*/
.catContainer{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  display: hidden;
  z-index: 3;
}
#cat {
  width: 50px;
  height:50px;
  position: absolute;
  margin: 0;
  border-radius: 50%;
  background-image: url('../images/cat.png');
  background-size: cover;
  vertical-align: top;
  z-index: 3;
  }
/*================================================*/
/*Body styling*/
.body {
  height: 17rem;
  width: 10.3rem;
  margin: 5rem auto;
  position: relative;
  z-index: 2;
}
#politician {
  width: 5rem;
  height:5rem;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;  
  position: relative;
  z-index: 2;
}
#politician img{
  max-width: 5rem;
  max-height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.torso {
  height: 6rem;
  width: 5rem;
  background: #38373A;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.tie {
  height: 3rem;
  width: 0.5rem;
  background: black;
  margin: 0 auto;
}
.arm {
  height: 6rem;
  width: 1rem;
  background: #38373A;
  border-radius: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.2rem;
  position: relative;
  z-index: 2;
}
.leg {
  height: 6rem;
  width: 1.5rem;
  background: #38373A;
  border-radius: 1rem;
  display: inline-block;
  transform: rotate(25deg);
  position: absolute;
  left: 25%;
  top: 60%;
  z-index: 2;
}
div.leg:last-child{
  left: 60%;
  transform: rotate(-25deg)
}
/*=========================================================*/
/*Cannon Styling*/
.cannon {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: -20px;
  z-index: 3;
}
.cannonOne{
  height: 20px;
  width: 60px;
  background: black;
  margin: 0 auto;
  border-radius: 5px;
}
.cannonTwo{
  height: 40px;
  width: 50px;
  background: darkgrey;
  margin: 0 auto;
}
.cannonThree{
  height: 20px;
  width: 100px;
  background: brown;
  margin: 0 auto;
  border-radius: 10px
}
/*==========================================*/
/*Responsive workings*/
@media only screen and (max-width: 1100px){
  h3, p{
    display: none;
  }
  .newspaper{
    width: 1000px;
    height: 500px;
    padding: 0;
  }
  .articles{
    padding: 0;
  }
  .gameContainer{
    width: 1000px;
  }
  .cannon{
    bottom: -20%;
  }
  .catContainer{
    bottom: -19%;
  }
}
/*============================================*/
/*Hide all game inititally*/
h2, ul, .gameContainer, .articles, .newspaper, .cannon, .catContainer {
  visibility: hidden;
}